<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>迪斯尼中国官网</title>
    <link rel="stylesheet" href="css/reset_maii.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="header">
      <ul class="clearfix">
        <li class="nav"><a href="#" class="header_font_active">
            <span class="nav_1"></span>
            首页 	</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav2"></span>
            商店</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav3"></span>
            乐园</a></li>
        <li class="logo"><a href="#"><img src="img/logo.png" alt=""></a></li>
        <li class="nav"><a href="#">
             
            <span class="nav4"></span>
            影视</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav5"></span>
            数码</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav6"></span>
            会员</a></li>
      </ul>
    </div>
    <div class="article">
      <div class="in_body">
        <div class="slide_box">
          <ul class="clearfix">
            <li class="top_pic"><a href="#"><img src="img/move.jpg" alt="">
                <div class="font">
                  <p> <span class="span1"></span>购票</p>
                  <p> <span class="span2"></span>观看视频</p>
                </div></a></li>
            <li class="top_pic"><a href="#"><img src="img/meidui.jpg" alt="">
                <div class="font">
                  <p> <span class="span1"></span>购票</p>
                  <p> <span class="span2"></span>观看视频</p>
                </div></a></li>
            <li class="top_pic"><a href="#"><img src="img/cai.jpg" alt=""></a></li>
          </ul>
          <div class="slide_point"><span class="active"></span><span></span><span></span></div>
        </div>
        <div class="star in_content">
          <h3 class="title">明星</h3>
          <ol class="clearfix">
            <li><a href="#"><img src="img/i1.png" alt="">
                <p>米奇和他的朋友们</p></a></li>
            <li><a href="#"><img src="img/i2.png" alt="">
                <p>迪士尼公主</p></a></li>
            <li><a href="#"><img src="img/i3.png" alt="">
                <p>赛车总动员</p></a></li>
            <li><a href="#"><img src="img/i4.png" alt="">
                <p>小公主苏菲亚</p></a></li>
            <li><a href="#"><img src="img/i5.png" alt="">
                <p>冰雪奇缘</p></a></li>
            <li><a href="#"><img src="img/i6.png" alt="">
                <p>星球大战</p></a></li>
          </ol>
        </div>
        <div class="shop in_content">
          <h3 class="title">商店</h3>
          <ul class="clearfix">
            <li class="w50"><a href="#"><img src="img/shop1.jpg" alt=""></a></li>
            <li><a href="#" class="shop1"><img src="img/shop2.jpg" alt="">
                <p>疯狂动物城 正版iPhone6/6s手机壳</p></a><a href="#" class="shop1"><img src="img/shop3.jpg" alt="">
                <p>疯狂动物城 可爱手机挂件 </p></a></li>
            <li><a href="#" class="shop1"><img src="img/shop4.jpg" alt="">
                <p>疯狂动物城 卡通抱枕 </p></a><a href="#" class="shop1"><img src="img/shop5.jpg" alt="">
                <p>疯狂动物城 卡通吸管杯</p></a></li>
          </ul>
        </div>
        <div class="zx in_content">
          <h3 class="title">迪士尼资讯</h3>
          <ul class="clearfix">
            <li class="w50 left"><a href="#"><img src="img/zx1.jpg" alt="">
                <div class="font">
                  <h4>上海迪士尼乐园开园在即！</h4>
                  <p>自2016年6月16日起，您将可以探索一个前所未有的神奇世界，每个人都能在这里点亮心中奇梦。<i></i></p>
                </div><em></em></a></li>
            <li class="w50 right clearfix"><a href="#" class="h474"><img src="img/zx2.jpg" alt="">
                <div class="font1">
                  <h5>迪士尼主题彩绘飞机正式亮相</h5>
                  <p>上海迪士尼和中国东方航空公司签署战略联盟协议，首架迪士尼主题彩绘飞机正式亮相。<i></i></p>
                </div><em></em></a><a href="#" class="h474"><img src="img/zx3.jpg" alt="">
                <div class="font1">
                  <h5>中国设计师玩转“米妮新时尚”</h5>
                  <p>迪士尼携手四位中国设计师，将米妮的经典波点赋予了独一无二的时尚魅力。<i></i></p>
                </div><em></em></a><a href="#" class="line"><img src="img/zx4.jpg" alt="">
                <div class="font1">
                  <h5>中国设计师玩转“米妮新时尚”</h5>
                  <p>迪士尼携手四位中国设计师，将米妮的经典波点赋予了独一无二的时尚魅力。<i></i></p>
                </div><em></em></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer_top">
        <div class="footer_top_left"><img src="img/footer_logo.png" alt=""></div>
        <div class="footer_top_center"><img src="img/weibo.jpg" alt="">
          <p>关注我们的微博</p>
        </div>
        <div class="footer_top_right"><img src="img/weixin.jpg" alt="">
          <p>关注我们的微信</p>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="footer_nav"><a href="#">关于我们</a><a href="#">加入我们</a><a href="#">法律条款</a><a href="#">隐私政策</a><a href="#">退换货政策</a></div>
        <p>Disney | Pixar All rights reserved. 备案号：沪B2-20040339-3</p>
      </div>
    </div>
  </body>
</html>