<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>迪斯尼中国官网</title>
    <link rel="stylesheet" href="css/reset_maii.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="header">
      <ul class="clearfix">
        <li class="nav"><a href="#" class="header_font_active">
            <span class="nav_1"></span>
            首页 	</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav2"></span>
            商店</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav3"></span>
            乐园</a></li>
        <li class="logo"><a href="#"><img src="img/logo.png" alt=""></a></li>
        <li class="nav"><a href="#">
             
            <span class="nav4"></span>
            影视</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav5"></span>
            数码</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav6"></span>
            会员</a></li>
      </ul>
    </div>
    <div class="article">
      <div class="register">
        <div class="reg_top">
          <h3>用户注册</h3>
          <p>你好，我是大白，我可以帮忙吗？</p>
        </div>
        <div class="reg_bottom">
          <form action="#">
            <div class="reg_1 clearfix">
              <div class="left">
                <p>邮箱</p>
                <input type="text" placeholder="Michael@gmail.com" class="reg_txt"><i></i><span class="reg_err">非法的邮箱名称！</span><span class="reg_now">请输入常用的邮箱，它将成为你常用的登录账号；</span>
              </div>
              <div class="right">
                <p>用户名</p>
                <input type="text" class="reg_txt"><i></i><span class="reg_err">用户名太短，最少4个字符；</span><span class="reg_now">4-16个字符，以中文或英文字母开头；</span>
              </div>
            </div>
            <div class="reg_2 clearfix">
              <div class="left">
                <p>设置密码</p>
                <input type="password" class="reg_txt"><i></i><span class="reg_err">请填写密码；</span><span class="reg_now">6-16个字符,以字母,数字符号组成;</span>
              </div>
              <div class="right">
                <p>确认密码</p>
                <input type="password" class="reg_txt"><i></i><span class="reg_err">两次密码不一致！请重新输入！！</span><span class="reg_now">6-16个字符，以中文或英文字母开头；</span>
              </div>
            </div>
            <div class="reg_3 clearfix">
              <div class="left">
                <p>名</p>
                <input type="text" class="reg_txt"><i></i><span class="reg_err">必须填！</span><span class="reg_now">2-10个字符,以中文或英文字符开头;</span>
              </div>
              <div class="right">
                <p>姓</p>
                <input type="text" class="reg_txt"><i></i><span class="reg_err">必须填！</span><span class="reg_now">2-10个字符,以中文或英文字符开头;</span>
              </div>
            </div>
            <div class="reg_4 clearfix">
              <div class="box">
                <p>性别</p><i class="checked"></i><span>先生</span><i></i><span>女士</span>
              </div>
            </div>
            <div class="reg_5 clearfix">
              <div class="left">
                <p>手机号码</p>
                <input type="text" placeholder="13425664356" class="reg_txt">
              </div>
            </div>
            <div class="reg_6 clearfix">
              <p>所在城市</p>
              <div class="left"><em class="sheng">省<b></b></em>
                <div class="sheng_box">
                  <ul>
                    <li>北京市</li>
                    <li>天津市</li>
                    <li>河北省</li>
                    <li>北京市</li>
                    <li>天津市</li>
                    <li>河北省</li>
                    <li>北京市</li>
                    <li>天津市</li>
                    <li>河北省</li>
                    <li>北京市</li>
                    <li>天津市</li>
                    <li>河北省</li>
                  </ul>
                </div>
              </div>
              <div class="left"><em class="shi">市<b></b></em>
                <div class="shi_box">
                  <ul>
                    <li>北京市</li>
                    <li>天津市</li>
                    <li>河北省</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="reg_7 clearfix">
              <p>出生日期</p>
              <div class="left"><em class="year">年<b></b></em>
                <div class="year_box">
                  <ul>
                    <li>2015</li>
                    <li>2014</li>
                    <li>2013</li>
                    <li>2012</li>
                    <li>2011</li>
                    <li>2010</li>
                    <li>2009</li>
                    <li>2008</li>
                    <li>2007</li>
                  </ul>
                </div>
              </div>
              <div class="left"><em class="month">月<b></b></em>
                <div class="month_box">
                  <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                  </ul>
                </div>
              </div>
              <div class="left"><em class="date">日<b></b></em>
                <div class="date_box">
                  <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="reg_8 clearfix">
              <div class="left">
                <p>验证码</p>
                <input type="text" class="reg_txt"><i></i><a href="#"><img src="img/check.jpg" alt=""></a>
              </div>
            </div>
            <div class="reg_9">
              <p>法律条款</p>
              <div class="iframe_box">
                <iframe src="http://www.dol.cn/rule" frameborder="no"></iframe>
              </div>
            </div>
            <div class="reg_10 clearfix"><i class="checked"></i><span>我同意收到来自华特迪士尼集团及其成员公司的活动与优惠讯息。</span></div>
            <div class="reg_11">
              <button>注册</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer_top">
        <div class="footer_top_left"><img src="img/footer_logo.png" alt=""></div>
        <div class="footer_top_center"><img src="img/weibo.jpg" alt="">
          <p>关注我们的微博</p>
        </div>
        <div class="footer_top_right"><img src="img/weixin.jpg" alt="">
          <p>关注我们的微信</p>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="footer_nav"><a href="#">关于我们</a><a href="#">加入我们</a><a href="#">法律条款</a><a href="#">隐私政策</a><a href="#">退换货政策</a></div>
        <p>Disney | Pixar All rights reserved. 备案号：沪B2-20040339-3</p>
      </div>
    </div>
  </body>
</html>