<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>迪斯尼中国官网</title>
    <link rel="stylesheet" href="css/reset_maii.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="header">
      <ul class="clearfix">
        <li class="nav"><a href="#" class="header_font_active">
            <span class="nav_1"></span>
            首页 	</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav2"></span>
            商店</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav3"></span>
            乐园</a></li>
        <li class="logo"><a href="#"><img src="img/logo.png" alt=""></a></li>
        <li class="nav"><a href="#">
             
            <span class="nav4"></span>
            影视</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav5"></span>
            数码</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav6"></span>
            会员</a></li>
      </ul>
    </div>
    <div class="article">
      <div class="sf art">
        <div class="top_pic"><a href="#"><img src="img/sf.jpg" alt="">
            <div class="font">
              <p> <span class="span1"></span>购票</p>
              <p> <span class="span2"></span>观看视频</p>
            </div></a></div>
        <div class="content content1">
          <h3 class="title">商店</h3>
          <ul class="clearfix">
            <li class="le"><a href="#"><img src="img/sf1.jpg" alt="">
                <p>小公主苏菲亚连衣裙</p></a></li>
            <li><a href="#"><img src="img/sf2.jpg" alt="">
                <p>舒肤棉女童圆领内衣</p></a></li>
            <li><a href="#"><img src="img/sf3.jpg" alt="">
                <p>苏菲亚公主女童表</p></a></li>
            <li><a href="#"><img src="img/sf4.jpg" alt="">
                <p>苏菲亚小公主皮靴</p></a></li>
          </ul>
        </div>
        <div class="content content2">
          <h3 class="title">视频</h3>
          <ul class="clearfix">
            <li class="le"><a href="#"><img src="img/sf5.jpg" alt="">
                <div class="font">
                  <h5>小公主苏菲亚预告片</h5>
                  <p>快来看看最新的小公主苏菲亚</p>
                </div><em></em><i></i></a></li>
            <li><a href="#"><img src="img/sf6.jpg" alt="">
                <div class="font">
                  <h5>小公主苏菲亚姐妹篇</h5>
                  <p>与苏菲亚共度闺蜜好时光</p>
                </div><em></em><i></i></a></li>
            <li><a href="#"><img src="img/sf7.jpg" alt="">
                <div class="font">
                  <h5>小公主苏菲亚主题曲</h5>
                  <p>一起唱响苏菲亚的主题曲</p>
                </div><em></em><i></i></a></li>
            <li><a href="#"><img src="img/sf8.jpg" alt="">
                <div class="font">
                  <h5>小公主苏菲亚热播</h5>
                  <p>苏菲亚在卡酷动画频道大受好评！</p>
                </div><em></em><i></i></a></li>
          </ul>
        </div>
        <div class="content content3">
          <h3 class="title">游戏和其它应用</h3>
          <ul class="clearfix">
            <li class="le"><a href="#"><img src="img/sf9.jpg" alt="">
                <div class="font">
                  <h5>苏菲亚的初次旅程</h5>
                  <p>一起与苏菲亚踏上冒险之旅!</p>
                </div><em></em></a></li>
            <li><a href="#"><img src="img/sf10.jpg" alt="">
                <div class="font">
                  <h5>迪士尼故事小剧场</h5>
                  <p>与明星角色一起登上舞台</p>
                </div><em></em></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer_top">
        <div class="footer_top_left"><img src="img/footer_logo.png" alt=""></div>
        <div class="footer_top_center"><img src="img/weibo.jpg" alt="">
          <p>关注我们的微博</p>
        </div>
        <div class="footer_top_right"><img src="img/weixin.jpg" alt="">
          <p>关注我们的微信</p>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="footer_nav"><a href="#">关于我们</a><a href="#">加入我们</a><a href="#">法律条款</a><a href="#">隐私政策</a><a href="#">退换货政策</a></div>
        <p>Disney | Pixar All rights reserved. 备案号：沪B2-20040339-3</p>
      </div>
    </div>
  </body>
</html>