<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>迪斯尼中国官网</title>
    <link rel="stylesheet" href="css/reset_maii.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="header">
      <ul class="clearfix">
        <li class="nav"><a href="#" class="header_font_active">
            <span class="nav_1"></span>
            首页 	</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav2"></span>
            商店</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav3"></span>
            乐园</a></li>
        <li class="logo"><a href="#"><img src="img/logo.png" alt=""></a></li>
        <li class="nav"><a href="#">
             
            <span class="nav4"></span>
            影视</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav5"></span>
            数码</a></li>
        <li class="nav"><a href="#">
             
            <span class="nav6"></span>
            会员</a></li>
      </ul>
    </div>
    <div class="article">
      <div class="store_alert_bg hidden"></div>
      <div class="store">
        <div class="store_alert hidden">
          <p>更多精彩商品，</p>
          <p>请莅临<a href="#">上海市浦东新区丰和路180号</a>迪士尼商店选购，</p>
          <p>您也可以登录<a href="#">迪士尼商店天猫商城</a>选购。</p><span class="yuan"></span>
        </div>
        <div class="store_shop">
          <ul class="clearfix">
            <li><img src="img/sp1.jpg" alt=""><a href="#"><img src="img/sp2.jpg" alt=""></a></li>
            <li><a href="#" class="spe"><img src="img/sp3.jpg" alt=""></a></li>
            <li><a href=""><img src="img/sp4.jpg" alt=""></a><a href=""><img src="img/sp5.jpg" alt=""></a></li>
            <li><a href="#"><img src="img/sp6.jpg" alt=""></a><a href="#"><img src="img/sp7.jpg" alt=""></a></li>
          </ul>
        </div>
        <h3 class="title">授权商品</h3>
        <div class="store_s">
          <ul class="clearfix">
            <li class="li1"><a href="#"><img src="img/s1.jpg" alt="">
                <p>迪士尼 珊瑚绒家居服</p></a></li>
            <li><a href="#"><img src="img/s2.jpg" alt="">
                <p>迪士尼 米奇石英情侣表</p></a><a href="#"><img src="img/s3.jpg" alt="">
                <p>迪士尼 公主钱包</p></a></li>
            <li><a href="#"><img src="img/s4.jpg" alt="">
                <p>周大福 迪士尼钻石戒指</p></a><a href="#"><img src="img/s5.jpg" alt="">
                <p>迪士尼 春季新品优雅公主高跟鞋</p></a></li>
            <li><a href="#"><img src="img/s6.jpg" alt="">
                <p>死星 磁悬浮蓝牙无线音响</p></a><a href="#"><img src="img/s7.jpg" alt="">
                <p>星球大战 USB小夜灯</p></a></li>
            <li class="li2"><a href="#"><img src="img/s8.jpg" alt="">
                <p>星球大战 白兵黑兵手办</p></a></li>
            <li class="li1"><a href="#"><img src="img/s9.jpg" alt="">
                <p>星球大战 现代客厅装饰画</p></a></li>
            <li class="li1"><a href="#"><img src="img/s10.jpg" alt="">
                <p>迪士尼 米妮米奇亲子T恤</p></a></li>
            <li><a href="#"><img src="img/s11.jpg" alt="">
                <p>疯狂动物城 正版iphone6/6s手机壳</p></a><a href="#"><img src="img/s12.jpg" alt="">
                <p>糖果大师头脑特工队 小方瓶</p></a></li>
            <li><a href="#"><img src="img/s13.jpg" alt="">
                <p>米奇 3D立体情侣马克杯</p></a><a href="#"><img src="img/s14.jpg" alt="">
                <p>迪士尼 玩具总动员纯棉浴巾</p></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer_top">
        <div class="footer_top_left"><img src="img/footer_logo.png" alt=""></div>
        <div class="footer_top_center"><img src="img/weibo.jpg" alt="">
          <p>关注我们的微博</p>
        </div>
        <div class="footer_top_right"><img src="img/weixin.jpg" alt="">
          <p>关注我们的微信</p>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="footer_nav"><a href="#">关于我们</a><a href="#">加入我们</a><a href="#">法律条款</a><a href="#">隐私政策</a><a href="#">退换货政策</a></div>
        <p>Disney | Pixar All rights reserved. 备案号：沪B2-20040339-3</p>
      </div>
    </div>
  </body>
</html>