div.container
	div.col-lg-2.content-cl
		include sidebar.jade
	div.col-lg-10.content#content_right
		div.text_cont.container
			h2.text_h2 FEATURED BOTS
			div.container.neirong-ul.row
				div.row.text_top
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/1.png",alt="")
						div.neir_right
							a(href="#") Chatfuel
							p Build A Bot
							img(src="../img/x-6.svg", alt="")
							img(src="../img/x-3.svg", alt="")
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/2.png",alt="")
						div.neir_right
							a(href="#") botgig
							p Build A Bot
							img(src="../img/x-3.svg", alt="")
							img(src="../img/x-1.png", alt="")
							img(src="../img/x-5.svg", alt="")
							img(src="../img/x-2.svg", alt="")
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/3.png",alt="")
						div.neir_right
							a(href="#") smooch for Messenger
							p Build A Bot
							img(src="../img/x-3.svg",alt="")
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/4.png",alt="")
						div.neir_right
							a(href="#") Botlytics
							p Build A Bot+3
							img(src="../img/x-2.svg",alt="")
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/5.png",alt="")
						div.neir_right
							a(href="#") Bot Platform 2.0
							p Build A Bot
							img(src="../img/x-3.svg",alt="")
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/6.gif",alt="")
						div.neir_right
							a(href="#") Messenger Platform
							p Build A Bot
							img(src="../img/x-6.svg",alt="")
		div.text_cont.container
			h2.text_h2 NEW BOTS
			div.container.neirong-ul.row
				div.row.text_top
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/7.jpg",alt="")
						div.neir_right
							a(href="#") And Chill
							p personal +1
							img(src="../img/x-6.svg", alt="")
							img(src="../img/x-4.svg", alt="")
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/8.png",alt="")
						div.neir_right
							a(href="#") Kitbot
							p personal +1
							img(src="../img/x-6.svg", alt="")
							img(src="../img/x-4.svg", alt="")
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/9.png",alt="")
						div.neir_right
							a(href="#") Surveybot
							p Maketing
							img(src="../img/x-6.svg",alt="")
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/10.jpg",alt="")
						div.neir_right
							a(href="#") Air Meekan
							p Travel
							img(src="../img/x-6.svg",alt="")
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/11.png",alt="")
						div.neir_right
							a(href="#") Emojify
							p social & Fun
							img(src="../img/x-5.svg",alt="")
							img(src="../img/x-3.svg",alt="")
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/12.png",alt="")
						div.neir_right
							a(href="#") Unsplash
							p social & Fun +1
							img(src="../img/x-5.svg",alt="")
		div.text_cont.container
			h2.text_h2 UPCOMING
			div.container.neirong-ul.row
				div.row.text_top
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/13.png",alt="")
						div.neir_right
							a(href="#") Troops
							p Analytics +2
							img(src="../img/x-5.svg", alt="")
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/14.png",alt="")
						div.neir_right
							a(href="#") Baxter
							p productivity +1
							img(src="../img/x-5.svg", alt="")
					div.col-sm-4.row
						div.neir_left
							img.img-responsive.img-rounded(src="../img/15.png",alt="")
						div.neir_right
							a(href="#") Cache
							p Personal +1
							img(src="../img/x-4.svg",alt="")















