div.container.row.footer.text-center
	h2.col-md-12.footer_bt As Seen On
	hr
	div.col-md-3.col-xs-6
		img.img-responsive(src="../img/fot-1.svg", alt="")
	div.col-md-3.col-xs-6
		img.img-responsive(src="../img/fot-2.svg", alt="")
	div.col-md-3.col-xs-6
		img.img-responsive(src="../img/fot-3.svg", alt="")
	div.col-md-3.col-xs-6
		img.img-responsive(src="../img/fot-4.svg", alt="")
div.row.footer_bottom.container
	div.col-md-6 © BotList 2016, A Marketing Stack Ltd Company
	div.col-md-6.text-right Built by：
		a(href="#") @bentossell，
		a(href="#") @sethlouey，
		a(href="#") @mubashariqbal