doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Ccompatible",content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
		title Botlist &bull; An App Store For Bots
		link(rel="stylesheet",href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="icon",href="../img/tb.png")
		link(rel="stylesheet",href="../public/iner.css")
	body
		include header.jade	
		include contert.jade
		include footer.jade
		script(src="http://cdn.bootcss.com/jquery/2.1.0/jquery.min.js")
		script(src="../public/deta.js")
		script(src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")