div.sidebar
	ul.list-unstyled.sidebar_ul
		li.h5
			a.cul_a(href="#") PLATFORMS
		li
			a(href="#") Android
		li
			a(href="#") Email
		li
			a(href="#") Facebook Messenger
		li
			a(href="#") iPhone
		li
			a(href="#") Kik
		li
			a(href="#") Slack
		li
			a(href="#") SMS
		li
			a(href="#") Telegram
		li
			a(href="#") Web
		li.h5
			a.cul_a(href="#") CATEGORIES
		li
			a(href="#") Build A Bot
		li
			a(href="#") Analytics
		li
			a(href="#") Communication
		li
			a(href="#") Customer Support
		li
			a(href="#") Design
		li
			a(href="#") Developer Tools
		li
			a(href="#") File Management
		li
			a(href="#") Health
		li
			a(href="#") HR
		li
			a(href="#") Marketing
		li
			a(href="#") Office Management
		li
			a(href="#") Payments
		li
			a(href="#") Personal
		li
			a(href="#") Productivity
		li
			a(href="#") Security
		li
			a(href="#") Social & Fun
		li
			a(href="#") Task Management
		li
			a(href="#") Travel

