div.banner_bottom
	div.container.banner_box
		h3.banner_bt.text-center Wait!
			br
			|You don’t need to answer every email as soon as it 
			br
			|hits your inbox.
		img.img-responsive(src="../img/1.png",alt="")
		p.text-left That's why we've reimagined your inbox and created Agenda View to
			br
			|let you know at a glance which emails are important and when you
			br
			|need to deal with them. With Timyo, you can communicate more
			br
			|meaningfully by sending and receiving emails with clear expectations 
			br
			|that are already prioritized by time. 
			br
			br
			|Now you can focus on the email that matters, when it matters.