div.contert_1
	div.container.contert_box1
		img.img-responsive(src="../img/3.png",alt="")
		h3.text-left Give the gift of
			br
			|clear expectations
		p.text-left When recipients open your email, they will see
			br
			|immediately a clear, simple, and polite message letting
			br
			|them know when you would like them to respond. By
			br
			|giving the gift of clear expectations, you give them other
			br
			|gifts as well: peace of mind, increased productivity, and,
			br
			|ultimately, time.
			br
			br
			|And it’s hard to think of a better gift than that.
div.contert_2
	div.container.contert_box2.text-center
		h2 Timyo works on your desktop as well
		div.col-md-4
			img.img-responsive(src="../img/4.png",alt="")
		div.col-md-4
			img.img-responsive(src="../img/5.png",alt="")
		div.col-md-4
			img.img-responsive(src="../img/6.png",alt="")
		div.contert2_bottom
			img.img-responsive(src="../img/7.png",alt="")
div.contert_3
	div.container.contert_box3.text-center
		h2 We are on a mission
		div.col-md-4.contert_lis
			img.img-responsive(src="../img/8.png",alt="")
			h4 Clarity
			p.text-left Email remains the #1 tool today’s workforce uses to communicate. Unfortunately, it was not designed for the ‘always on’ expectations that have become the norm. Thanks to Timyo, users can now benefit from clear and proactive communication.
		div.col-md-4.contert_lis
			img.img-responsive(src="../img/9.png",alt="")
			h4 Productivity
			p.text-left By helping you stay focused on important emails when they matter to you, Timyo helps you cut through the clutter. And when the people you work with use Timyo too, your email will come already prioritized by due date.
		div.col-md-4.contert_lis
			img.img-responsive(src="../img/10.png",alt="")
			h4 Peace
			p.text-left At Timyo, we believe it's time for email to make your life easier again. With email prioritized by time and features like Agenda View and Reply Tracker, Timyo takes the stress out of email and puts something much better in its place: peace.
div.contert_4
	div.container.contert_box4.text-center
		h2 Upgrade to business class email
		div.col-md-5.pull-leht.contert4_leht
			img.img-responsive.pull-leht.cont4_img(src="../img/11.png",alt="")
		div.col-md-6.contert4_right
			div.cont4_right_lis1.text-left
				span.cont4_span
				h4 Easy setup
				p Enter your email account and password and voila! You've got Timyo.
			div.cont4_right_lis1.text-left
				span.cont4_span
				h4 Existing account
				p Timyo isn't another new email address to manage — it's a way to better manage your existing accounts.
			div.cont4_right_lis1.text-left
				span.cont4_span
				h4 Free & Flexible
				p You can switch back and forth between Timyo and your providers' apps whenever you want to (but we don't think you'll want to).
			div.cont4_right_lis1.text-left
				span.cont4_span
				h4 Private & Secure
				p Timyo never stores, processes, or transmits your data through third-party servers. Passwords are never stored on our servers.
			img.img-responsive.cont4_right_img(src="../img/tonyon.png",alt="")













