div.features
	div.container.featuers_box
		h3.text-center.features_h3 Focus on what matters today
		p.text-center 
			a.logo_cont_a(href="#") See how Timyo helps you 
				span.glyphicon.glyphicon-play-circle
		div.row#features_conter
			div.col-md-5.col-xs-6.container#features_img.text-left
				img.img-responsive(src="../img/2.jpg",alt="")
			div.col-md-6.col-xs-6.container#features_cont
				div.features_cont1
					span.fratures_spana
					h4.fratures_ha Manage important email by time
						span.glyphicon.glyphicon-play-circle
					p No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.
				div.features_cont1
					span.fratures_spanb
					h4.fratures_hb Receive email already prioritized by time 
						span.glyphicon.glyphicon-play-circle
					p Timyo users send and receive emails that are already prioritized by time. Send email with clear expectations and receive better replies.
				div.features_cont1
					span.fratures_spanc
					h4.fratures_hc Oversee email through Agenda View 
						span.glyphicon.glyphicon-play-circle
					p Stay organized at a glance! Use Agenda View to easily manage your time without leaving your inbox.
				div.features_cont1
					span.fratures_spand
					h4.fratures_hd Get reminders on pending replies 
						span.glyphicon.glyphicon-play-circle
					p Because your email is sent with clear expectations, Reply Tracker lets you know when a reply is still pending or overdue.



 
 



