div.footer_inof
	div.container.text-center.inof_box
		h3.inof_h3 Available now for iOS!
		p Currently available for Gmail and Google Apps - more providers coming soon.
		img(src="../img/tonyon.png",alt="")
		div.container.inof_btn
			div.inof_xialk.dropdown
				div.inof_inpt
					input.inof_btn.ban-default(placeholder="(201) 555-5555",)
					div.inof_tubiao.dropdown-toggle.btn(data-toggle="dropdown")
						span.beij
						span.caret.tub
					ul.dropdown-menu.xlk_cont.pre-scrollable
						li
							div.li_beij1
							span.li_wenj United States
							span.li_jia +1
						li
							div.li_beij2
							span.li_wenj France
							span.li_jia +33
						li
							div.li_beij3
							span.li_wenj Untied Lingdom
							span.li_jia +44
						li.divider
						li
							div.li_beij1
							span.li_wenj United States
							span.li_jia +1
						li
							div.li_beij2
							span.li_wenj France
							span.li_jia +33
						li
							div.li_beij3
							span.li_wenj Untied Lingdom
							span.li_jia +44
						li
							div.li_beij1
							span.li_wenj United States
							span.li_jia +1
						li
							div.li_beij2
							span.li_wenj France
							span.li_jia +33
						li
							div.li_beij3
							span.li_wenj Untied Lingdom
							span.li_jia +44
						li
							div.li_beij1
							span.li_wenj United States
							span.li_jia +1
						li
							div.li_beij2
							span.li_wenj France
							span.li_jia +33
						li
							div.li_beij3
							span.li_wenj Untied Lingdom
							span.li_jia +44
						li
							div.li_beij1
							span.li_wenj United States
							span.li_jia +1
						li
							div.li_beij2
							span.li_wenj France
							span.li_jia +33
						li
							div.li_beij3
							span.li_wenj Untied Lingdom
							span.li_jia +44
						li
							div.li_beij1
							span.li_wenj United States
							span.li_jia +1
						li
							div.li_beij2
							span.li_wenj France
							span.li_jia +33
						li
							div.li_beij3
							span.li_wenj Untied Lingdom
							span.li_jia +44
						li
							div.li_beij1
							span.li_wenj United States
							span.li_jia +1
						li
							div.li_beij2
							span.li_wenj France
							span.li_jia +33
						li
							div.li_beij3
							span.li_wenj Untied Lingdom
							span.li_jia +44
						li
							div.li_beij1
							span.li_wenj United States
							span.li_jia +1
						li
							div.li_beij2
							span.li_wenj France
							span.li_jia +33
						li
							div.li_beij3
							span.li_wenj Untied Lingdom
							span.li_jia +44
						li
							div.li_beij1
							span.li_wenj United States
							span.li_jia +1
						li
							div.li_beij2
							span.li_wenj France
							span.li_jia +33
						li
							div.li_beij3
							span.li_wenj Untied Lingdom
							span.li_jia +44
						li
							div.li_beij1
							span.li_wenj United States
							span.li_jia +1
						li
							div.li_beij2
							span.li_wenj France
							span.li_jia +33
						li
							div.li_beij3
							span.li_wenj Untied Lingdom
							span.li_jia +44
						li
							div.li_beij1
							span.li_wenj United States
							span.li_jia +1
						li
							div.li_beij2
							span.li_wenj France
							span.li_jia +33
						li
							div.li_beij3
							span.li_wenj Untied Lingdom
							span.li_jia +44
						li
							div.li_beij1
							span.li_wenj United States
							span.li_jia +1
						li
							div.li_beij2
							span.li_wenj France
							span.li_jia +33
						li
							div.li_beij3
							span.li_wenj Untied Lingdom
							span.li_jia +44
				button.inof_buttom(type="button") Text me a link
		p.coose_p1 If you are on Android or Windows Phone, we are working on versions for you!
			br 
			|Enter your email and choose your OS below to be notified.
		input.coose_inp(type="text",value="Your email address")
		p.coose_p2 Choose your OS to submit.
		img.coon_img(src="../img/btn-1.jpg",alt="")
		img.coon_img(src="../img/btn-2.jpg",alt="")


				