div.footer
	div.container.footer_box.text-center
		p.footer_p1 Timyo is a patented solution: US 20150007048A1
		div.footer_a
			a.footer_a1(href="#") Privacy Policy
			a.footer_a1(href="#") Security
			a.footer_a1(href="#") Press Inquiries
			a.footer_a1(href="#") About Us
		p.footer_p2 ©2015 Timyo. All rights reserved.