div.guding
	img(src="../img/tonyon.png",alt="")
div.header
	div.header_box
		div.navbar.container.nav_box
			a.nav_tub.navbar-brand(href="#") 
				img.img-responsive(src="../img/logo.png",alt="导航图标")
			ul.list-unstyled.navbar.pull-right.nav-right.hidden-xs
				li.navbar-brand
					a.nav_a(href="#") Mission
				li.navbar-brand
					a.nav_a(href="#") FAQ
				li.navbar-brand
					a.nav_a(href="#") Blog
				li.navbar-brand
					a.nav_a(href="#")
						img(src="../img/logo-1.png",alt="")
				li.navbar-brand
					a.nav_a(href="#")
						img(src="../img/logo-2.png",alt="")
			button#logo_btn.navbar-toggle.collapsed.visible-xs(type="button",data-toggle="collapse",data-target="#app-navbar-collapse",aria-expanded="false")
				span.sr-only Toggle Navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
		div.navbar-collapse#logo_none
			ul.list-unstyled.nav-stacked-nav.nav-none.visible-xs
				li.nav-divider
					a.nav_a(href="#") Mission
				li.nav-divider
					a.nav_a(href="#") FAQ
				li.nav-divider
					a.nav_a(href="#") Blog
				li.nav-divider
					a.nav_a(href="#")
						img(src="../img/logo-1.png",alt="")
				li.nav-divider
					a.nav_a(href="#")
						img(src="../img/logo-2.png",alt="")
	div.row.container.logo
		div.col-md-7.lbt-left
			h2.h2.logo_biaot.text-center
				span#logo_show Forget inbox zero:
				span.logo_hiade It’s about time:
				span.logo_hiade 'Real-time' isn’t for real:
			h2.h2.logo_cont.text-center
				p email that matters, 
				p when it matters.
				a.logo_cont_a(href="#") Watch the video
					span.glyphicon.glyphicon-play-circle
		div.col-md-5.lbt_right
			div#lbt_box
				ul#lbt_wrpa.list-unstyled.pull-right
					li
						img.img-responsive(src="../img/lb-1.png",alt="")
					li
						img.img-responsive(src="../img/lb-2.png",alt="")
					li
						img.img-responsive(src="../img/lb-3.png",alt="")
					li
						img.img-responsive(src="../img/lb-4.png",alt="")
			ul.list-unstyled#lbt_btn
				li.dianbj
				li
				li
				li








